.edit {
    display: flex;
    align-items: center;
    justify-content: center;

    .edit__right {
        margin-right: 165px;
        background-color: #fff;
        border-radius: 24px;
        padding: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 450px;
            height: 300px;
        }

        .right__content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #000;
            color: #fff;
            border-radius: 24px;
            padding: 45px;
            width: 590px;
            margin-top: 25px;

            h3 {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 600;
            }

            .rating {
                display: flex;
                align-items: center;
                font-size: 18px;
                margin-top: 20px;

                span {
                    margin: 0 10px;
                    font-weight: 600;
                }
            }
        }
    }

    .edit__left {


        h2 {
            text-align: center;
            font-style: italic;
        }

        .inputs {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .btn_block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .btn {
                margin-top: 30px;
                padding: 10px 125px;
                background-color: #000;
                color: #fff;
                border-radius: 24px;
                transition: all linear 0.2s;

                &.one {
                    padding: 10px 111px;
                }

                &:hover {
                    transition: 0.5;
                    transform: scale(1.1);
                }
            }
        }
    }
}